body {
    background-color: #121212;
    color: #fff;
    font-family: "Nunito", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#title {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    position: absolute;
    top: 3rem;
    font-family: "Quicksand", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

img#logo {
    position: relative;
    width: 12.5rem;
    filter: invert(13%) sepia(0%) saturate(6%) hue-rotate(168deg) brightness(99%) contrast(75%);
}

div#search-section {
    padding-top: 6.25rem;
    text-align: center;
}

input#search {
    background-color: #272727;
    color: #fff;
    width: 62.5rem;
    height: 1.875rem;
    padding-left: 0.625rem;
    border: none;
    border-radius: 0.625rem;
    font-size: 0.875rem;
}

input#search:focus {
    border: none;
    background-color: #272727;
    color: #fff;
}

button#search-btn {
    width: 2.5rem;
    height: 2rem;
    transition: all 0.001s;
}

button#refresh {
    width: 2rem;
    height: 1.3rem;
    transition: 0.65s all;
}

button#search-btn,
button#refresh {
    border: none;
    border-radius: 0.625rem;
    background-color: #272727;
    color: rgb(133, 133, 133);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    cursor: pointer;
}

button#search-btn:hover,
button#refresh:hover {
    color: #fff;
}

button#refresh:hover{
    transform: rotate(180deg);
} 

button#search-btn:active {
    transform: translateY(0.125rem);
}

div#main-section {
    width: 65.75rem;
    height: 31.25rem;
    margin: 1.25rem auto;
    border-radius: 0.625rem;
    background-color: #272727;
}

div#last-updated-section {
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem 0.7rem 0 0;
    color: rgba(255, 255, 255, 0.6);
}

div#main-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-weight: 700;
}

div#city,
div#temperature {
    display: inline;
    margin-top: 7rem;
}

div#city {
    font-size: 4rem;
    max-width: 30rem;
}

div#temperature {
    font-size: 8rem;
}

div#sec-info {
    padding-top: 8rem;
    color: rgba(255, 255, 255, 0.6);
}

div#statistics {
    display: flex;
    justify-content: space-around;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}
